@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	background-image: url(../images/gray.png);
	background-position: top center;
}

h1{
	font-size: 55px;
	color: #424949;
	text-align: center;
	font-family: 'Montserrat', serif;
	font-weight: 700;
	margin-top: 40px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

h3{
	font-family: 'PT Serif', serif;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
	text-align: center;
	color:  #424949;
	font-size: 20px;
	line-height: 20px;
	font-style: bold;
}

h4{
	font-family: 'PT Serif', serif;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
	text-align: center;
	color:  #424949;
	font-size: 18px;
	line-height: 20px;

}

p{
	font-family: 'PT Serif', serif;
	margin-right: 15%;
	margin-top: 20px;
	color:  #424949;
	font-size: 15px;
	line-height: 20px;
}

#privacy p{
	margin-left: 15%;
}


li{
	margin-left: 15%;
	margin-right: 15%;
	font-family: 'PT Serif', serif;
	font-size: 15px;
	line-height: 20px;
}


.form-group{
	width: 40%;
	margin-left: 30%;
	color: #424949;
	font-family: 'PT-Serif', serif;
	font-size: 20px;
	margin-top: 20px;
}

.form-group p{
	font-size: 15px;
	font-style: italic;
	margin-top: -10px;
}

#account{
	height: 500px;
	margin-top: 80px;
}

#flex-display{
	display: flex;
}


#pass1{
	width: 250px;
	padding-right: 10px;
}

#pass2{
	width: 260px;
	padding-left: 10px;
}

.space{
	margin-top: 15px;
}


a:hover{
	text-decoration: none;
}


.column{
	float: left;
	width: 33%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mid-padding{
	padding-left: 10px;
	padding-right: 10px;
}


.btn-column{
	float: left;
	width: 50%;
	padding: 10px;
}

.next-btn{
	background: #424949;
	color: white;
	border: 2px solid #424949;
	border-radius: 5px;
	padding: 1.1%;
	width: 100%;
}


.reg-btn{
	background: #424949;
	color: white;
	border: 2px solid #424949;
	border-radius: 5px;
	padding: 1.1%;
	width: 100%;
}

.inline {
   margin-top: 5%;
}

#login-mod{
	background: #424949;
	font-size: 20px;
	font-family:'PT-Serif', serif;
	color: white;
	border: 2px #424949 solid;
	margin-left: 30%;
	border-radius: 5px;
}

.check{
	font-size: 15px;
	font-family:'PT-Serif', serif;
	color: #424949;
	margin-left: 30%;
	margin-top: 10px;
	font-style: italic;

}

/* The code downward from here are for file forgot.php */
#forgotpassdiv{
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
}

#forgot-btn{
	background: #424949;
	font-size: 20px;
	font-family:'PT-Serif', serif;
	color: white;
	border: 2px #424949 solid;
	border-radius: 5px;
	margin-top: 15px;
}


#space{
	height: 100px;
}


footer{
	background-color: black;
	height: 100px;

}

footer p{
	color: white;
	padding-top: 30px;
	margin-left: 35%;
}


#A{
	font-family: 'PT serif', sans-serif;
	margin-left: 5%;
}

#B h4{
	text-align: left;
}
